<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul>
          <li><a href="{{site.baseurl}}/">文章总览</a></li>
          <li><a href="/waipo/i-conquer-the-himalayas/">了解茫荡</a></li>
          <li><a href="/waipo/i-meet-the-sunset/">外婆山庄</a></li>
          <li><a href="/waipo/meeting-with-adventures/">住宿环境</a></li>
          <li><a href="/waipo/snowboarding-and-my-life/">吃喝饮食</a></li>
          <li><a href="/waipo/time-to-think/">周边风景</a></li>
          <li><a href="{{site.baseurl}}/about">关于我们</a></li>
        </ul>
      </nav>
      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
      <div class="search-icon-container">
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
